<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Travel Planning System</title>
<!-- For-Mobile-Apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Arbitrary a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //For-Mobile-Apps -->
<!-- Custom-Stylesheet-Links -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all"/>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom-Stylesheet-Links -->
<!-- Web-Fonts -->
	<link href='//fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
<!-- //Web-Fonts -->
 <script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!--gallery-->
</head>
<body>
<!-- Banner -->
	<div class="banner-1">
		<!-- Header -->
	<div class="header">
		<div class="container">
		<!-- Navbar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Travel Planning System</a>
				</div>

				<div class="navbar-collapse collapse hover-effect" id="navbar">
					<ul>
						<li><a href="index.html"><span data-hover="HOME">HOME</span></a></li>
						<li><a href="hotmap.html"><span data-hover="HOTMAP">HOTMAP</span></a></li>
						<li><a href="recommend.html" class="active">RECOMMENDATION</a></li>
						<li><a href="costPredic.html"><span data-hover="COST PREDICTION">COST PREDICTION</span></a></li>
						
					</ul>
				</div>

			</div>
		</nav>
		<!-- //Navbar -->
		
	</div>
	</div>
		</div>
	<!-- //Header -->
		<!-- //Banner -->
		<!-- agile -->
	<div class="about wthree-1">
				<div class="container">
					<div class="about-grids agile-1">
					
					<div class="col-md-6 about-grid agileits-1">
					<div class="about-header">
					<h3>Prediction From Our Machine Learning Model</h3>
						</div>
							<div class="about-1">
						 <h4>1. Vestibulum iaculis</h4>
						 <p>Mauris asan nulla vel diam. Sed in lacus ut enim adipiscing aliquetulla venenat pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim.</p>
						<h4>2. Mauris asan nulla vel</h4>
						 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing ellente ssed dololiquam congu fermentum nisl. Mauris asan nulla vel diam. Sed in lacus ut enim adipiscing aliquetulla venenat pede mi, aliquet sit amet, euismod in, auctor ut.</p>
						<h4>3. Mauris asan nulla vel</h4>
						 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing ellente ssed dololiquam congu fermentum nisl. Mauris asan nulla vel diam. Sed in lacus ut enim adipiscing aliquetulla venenat pede mi, aliquet sit amet, euismod in, auctor ut.</p>
						<h4>4. Mauris asan nulla vel</h4>
						 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing ellente ssed dololiquam congu fermentum nisl. Mauris asan nulla vel diam. Sed in lacus ut enim adipiscing aliquetulla venenat pede mi, aliquet sit amet, euismod in, auctor ut.</p>
					</div>
						</div>
						<div class="col-md-6 about-grid agileits-1">
						<div class="about-header">
						<h4>Geo Region Pick-up Prediction</h4>
						<iframe width="100%" height="520" frameborder="0" src="https://kobeusa1.carto.com/builder/8d5cfba0-c224-11e6-94b9-0ef7f98ade21/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
						<div class="clearfix"></div>
					<div class="about-bottom">
					
					
					<div class="clearfix"> </div>
				</div>
					</div>
				</div>
		</div>	
</div>		
			
	<!-- //agile -->
	<!-- Footer -->
	<div class="footer">
		<div class="container">

			<div class="footer-info">
			
				<div class="col-md-3 col-sm-3 footer-info-grid address animated wow fadeInUp animated animated" data-wow-duration="1200ms" data-wow-delay="500ms">
					<h4>Travel Planning System</h4>
					<address>
						<ul>
							<li>Columbia University</li>
							<li>Department of Electrical Engineering</li>
							<li>Big Data Analytics Final Project</li>
							<li>Fall 2016</li>
						</ul>
					</address>
				</div>
				
				<div class="clearfix"></div>
			</div>

		

		</div>
	</div>
	<!-- //Footer -->
	</body>
	</html>